img {
  background-color: violet;
  border-radius: 10px;
  border-color: red;
}
body {
  background-color: rgb(216, 114, 31);
  background :linear-gradient(purple, pink, red, orange, yellow, blue);
}
.links {
  float: right;
  font-size: 20px;
}
.projo{ 
font-style: italic;
}