body {
  background-color: rgb(216, 114, 31);
  background :linear-gradient(purple, pink, red, orange, yellow, blue);
}
.links {
  float: unset;
  font-size: 20px;
  align-content: center;
}
.projo{ 
font-style: italic;
}
h1 {
  text-align: center;
  text-decoration-line: underline;
  color: rgb(244, 248, 9);
  font-style: inherit;
  fo
}
.lan {
  font-style: italic;
  font-weight: bolder;
}
.bg{
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: blue
}